extends layout

block content
  #content
    header
      h3 #{user.name}'s Dashboard

    div
      for x in user.accounts
        for v,k in x
          p #{k}
            ul
            for val, k in v
              li #{k}: #{val}



