extends layout

block content
  #content
    header
      h3 WELCOME
      if (!user)
        p Welcome! Please log in.
      else
        p Hello, #{user.facebook.username}


    div
      p Please log in to continue.
      div
        <a href="/auth/facebook">Login with Facebook</a>