extends layout

block content
  #content
    header
      h3 WELCOME
      if (!user)
        p Welcome! Please log in.
      else
        p Hello, #{user.name}


    div
      p Please log in to continue.
      div
        p: a(href="/auth/facebook") Login with Facebook
        p: a(href="/auth/twitter") Sign in with Twitter